.advantages {
  padding-top: 100px;
  padding-bottom: 100px;
}

.advantages-title {
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: $black;
}

.advantages-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.advantages-list__item {
  max-width: 33%;
  flex-basis: 33%;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: $black;
  display: flex;
  align-items: center;

  &::before {
    width: 100px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    content: '';
  }
}

.icon-license::before {
  height: 79px;
  background-image: url(../img/advantages/license.svg);
}

.icon-service-selection::before {
  height: 119px;
  background-image: url(../img/advantages/service-selection.svg);
}

.icon-price-formation::before {
  width: 120px;
  height: 69px;
  background-image: url(../img/advantages/price-formation.svg);
}
