.call-back__text {
  font-weight: 500;
}

.required-fields {
  font-weight: 500;
  display: none;
}

.call-back .container {
  position: relative;
}

.form-done {
  padding-top: 50px;
  text-align: center;
  font-weight: 500;
  background-color: #fff;
  z-index: 5;
  position: absolute;
  left: 0;
}

.form-done__title {
  margin-bottom: 10px;
  text-align: center;
  color: $black;
}

.form-done__text {
  margin-bottom: 20px;
}

.call-form__error {
  width: 100%;
  padding-top: 15px;
  color: $red;
}

@media (min-width: 576px) {
  .call-back:not(.strip-block) {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  .call-back__gray {
    padding-top: 58px;
    padding-bottom: 37px;
  }
  .call-back__title {
    text-align: center;
  }
  .call-back__text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .required-fields {
    display: block;
  }
  .form-done {
    width: 100%;
    height: 311px;
    margin-top: -156px;
    border-radius: 15px;
    top: 50%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  }
  .form-done__title {
    font-size: 38px;
    line-height: 45px;
  }
  .form-done__text {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 768px) {
  .call-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .call-form {
    margin-bottom: 27px;
  }
}

@media (max-width: 575px) {
  .call-back {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FBFBFB;
    box-shadow: 0 0 10px rgba(69, 74, 113, 0.4);
  }
  .call-back__text {
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 20px;
  }
  .call-form {
    max-width: 86%;
  }
  .form-done {
    height: 100%;
    padding: 90px 15px 30px;
    top: 0;
    width: 100%;
  }
  .form-done__title {
    font-size: 24px;
  }
  .form-done__text {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .call-form {
    margin-right: -14px;
    margin-left: -14px;
    flex-wrap: wrap;
  }
  .call-form__btn {
    width: 44%;
    margin-left: 14px;
    margin-bottom: 25px;
  }
}
