.footer {
  background-color: $black;
  color: #bbb;
  text-align: center;
}

.footer-title {
  margin-bottom: 10px;
  font-weight: 500;
  color: #eee;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-link {
  color: inherit;
}

.social-footer {
  margin-bottom: 35px;
  padding-left: 0;
  list-style: none;
  line-height: 1;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    height: 2px;
    background-color: #717171;
    content: '';
  }

  &::before {
    margin-right: auto;
  }

  &::after {
    margin-left: auto;
  }
}

.social-footer__item {
  display: inline-block;
  vertical-align: middle;
  transition: opacity .3s;
  margin-right: 7px;
  margin-left: 7px;

  &:hover {
    opacity: .8;
  }
}

.social-footer__icon {
  width: 31px;
  height: 31px;
  fill: #eee;
}

@media (min-width: 576px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-title {
    font-size: 24px;
  }
  .footer-list {
    margin-bottom: 23px;
    font-size: 18px;
    justify-content: center;
  }
  .footer-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .social-footer {
    margin-bottom: 35px;

    &::before,
    &::after {
      width: 40%;
    }
  }
}

@media (max-width: 575px) {
  .footer {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .footer-title {
    font-size: 18px;
  }
  .footer-list {
    margin-bottom: 28px;
    font-size: 14px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .footer-item {
    max-width: 50%;
    flex-basis: 50%;
    padding-left: 7px;
    padding-right: 7px;
    text-align: left;
  }
  .social-footer {
    margin-bottom: 30px;

    &::after,
    &::before {
      width: 30%;
    }
  }
  .copy {
    font-size: 14px;
  }
}
