.footer {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: $black;
}

.footer-nav {
  margin-bottom: 40px;
}

.footer-logo {
  width: 170px;
  display: block;
}

.footer-menu {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  line-height: 1;
}

.footer-menu__item {
  margin-bottom: 10px;
  width: 33%;
  float: left;
  color: $gray-800;
}

.footer-menu__link {
  display: inline-block;
  color: inherit;
  transition: color .3s;

  &::after {
    width: 0;
    height: 1px;
    overflow: hidden;
    display: block;
    background-color: $red;
    transition: width .3s;
    content: '';
  }

  &:hover {
    color: $red;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

.footer-middle {
  margin: 0 auto 45px;
  display: flex;
  align-items: center;
}

.footer-subscription {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.footer-subscription__icon {
  width: 15px;
  height: 15px;
  fill: $gray-900;
  top: 10px;
  left: 10px;
  position: absolute;
}

.footer-subscription__field {
  padding-left: 31px;
  background: $gray-700;
  box-shadow: inset 0 0 5px rgba(#000, .75);
  border-radius: 7px;
  border: 0;

  &:focus {
    box-shadow: none;
  }
}

.footer-subscription__btn {
  max-width: 41%;
  width: 100%;
  margin-left: -10px;

  &::before {
    background-color: #262626;
  }

  &:hover {
    color: #fff;

    &::before {
      border-color: #fff;
    }
  }
}

.footer-subscription__error {
  top: -25px;
  left: 0;
  position: absolute;
  color: #FF0000;
  font-size: 14px;
}

.footer-contacts {
  padding-left: 0;
  margin-bottom: 35px;
  color: $gray-800;
  list-style: none;
}

.footer-contacts__link {
  color: inherit;
  transition: color .3s;
  display: inline-flex;
  flex-direction: column;

  &::after {
    width: 0;
    height: 1px;
    overflow: hidden;
    display: block;
    background-color: $red;
    transition: width .3s;
    content: '';
  }

  &:hover {
    color: $red;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

.footer-bottom {
  margin: 0 auto 30px;
  line-height: 1.5;
}

.footer-copy {
  text-align: center;
}

.successfully-added {
  position: fixed;
  max-width: 300px;
  width: 100%;
  background: #990000;
  z-index: 9999;
  color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;

  @media (min-width: 768px) {
    right: 20px;
  }
  @media (max-width: 767px) {
    left: 50%;
    margin-left: -150px;
  }
}

@media (min-width: 576px) {
  .footer-bottom {
    font-size: 14px;
    text-align: center;
  }
  .footer-bottom__text-lg {
    font-size: 16px;
  }
  .footer-subscription__icon {
    top: 14px;
  }
  .footer-subscription__btn {
    max-width: 200px;
  }
  .footer-subscription__field {
    height: 40px;
  }

  .footer-contacts {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .footer-logo {
    padding-top: 13px;
  }
  .footer-contacts {
    text-align: center;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .footer-menu {
    padding-left: 48px;
  }

  .footer-middle {
    max-width: 530px;
  }

  .footer-contacts {
    align-items: center;
  }

  .footer-contacts__item {
    padding-left: 12px;
    padding-right: 12px;
  }

  .footer-subscription__field {
    max-width: 265px;
  }

  .footer-bottom {
    max-width: 83%;
  }

  .scroll-to-top {
    cursor: pointer;
    transition: opacity .3s ease-out;
  }

  .scroll-to-top:hover,
  .scroll-to-top:focus {
    opacity: .8;
  }
}

@media (max-width: 991px) {
  .footer-menu__item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .footer-logo {
    margin: 0 auto 30px;
  }
}

@media (max-width: 575px) {
  .footer-middle {
    flex-wrap: wrap;
  }

  .footer-subscription {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-contacts {
    font-size: 13px;
    text-align: center;
    line-height: 1.8;
  }
  .footer-contacts__item {
    display: inline;

    &:nth-child(2) {
      white-space: nowrap;

      &::after {
        margin-right: 5px;
        content: ', ';
      }
    }
  }

  .footer-menu__link,
  .footer-bottom,
  .footer-copy {
    font-size: 13px;
  }
  .footer-menu__item {
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .footer-contacts__item {
    width: 50%;
    margin-bottom: 10px;
  }
}
