.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $black;
  color: #bbb;
  text-align: center;
}

.footer-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #eee;
}

.footer-list {
  margin-bottom: 23px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.footer-item {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-link {
  color: inherit;
}

.social-footer {
  margin-bottom: 35px;
  padding-left: 0;
  list-style: none;
  line-height: 1;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    width: 40%;
    height: 2px;
    background-color: #717171;
    content: '';
  }

  &::before {
    margin-right: auto;
  }

  &::after {
    margin-left: auto;
  }
}

.social-footer__item {
  display: inline-block;
  vertical-align: middle;
  transition: opacity .3s;
  margin-right: 7px;
  margin-left: 7px;

  &:hover {
    opacity: .8;
  }
}

.social-footer__icon {
  width: 31px;
  height: 31px;
  fill: #eee;
}
