.home-company {
  padding-top: 50px;
  padding-bottom: 50px;
  background: $gray-400;
  box-shadow: $custom-box-shadow;
}

.home-company__inner {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
}

.home-company__content {
  line-height: 1.4;
}

.home-company__pre-title {
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 500;
}
