.main-info {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.main-info__title {
  margin: 0;
  font-weight: 600;
  color: $black;
}

@media (min-width: 576px) {
  .main-info {
    height: 310px;
    box-shadow: $custom-box-shadow;
  }
  .main-info__title {
    padding: 65px 0 9px 8%;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: 768px) {
  .main-info__inner {
    background: url(../img/home/main-info.svg) no-repeat 84% center;
    background-size: 380px 310px;
    position: relative;

    &::before {
      width: 447px;
      height: 320px;
      position: absolute;
      top: -6px;
      right: 92%;
      background: url(../img/home/main-info-left.svg) no-repeat center;
      content: '';
    }

    &::after {
      width: 335px;
      height: 320px;
      position: absolute;
      top: -6px;
      left: 92%;
      background: url(../img/home/main-info-right.svg) no-repeat -32px -64px;
      content: '';
    }
  }
}

@media (max-width: 767px) {
  .main-info__inner::after {
    width: 100%;
    height: 325px;
    display: block;
    background: url(../img/home/main-info.svg) no-repeat center;
    content: '';
  }
}

@media (max-width: 575px) {
  .main-info {
    margin-bottom: 8px;
  }
  .main-info__title {
    font-size: 28px;
    line-height: 32px;
    padding: 30px 0 9px;
    text-align: center;
  }
}
