.main-info {
  position: relative;
  z-index: 2;
  overflow: hidden;
  box-shadow: $custom-box-shadow;
}

.main-info__inner {
  position: relative;
  background: url(../img/main-info/main-info.svg) no-repeat 84% center;
  background-size: 380px 310px;

  &::before {
    width: 447px;
    height: 320px;
    position: absolute;
    top: -6px;
    right: 92%;
    background: url(../img/main-info/main-info-left.svg) no-repeat center;
    content: '';
  }

  &::after {
    width: 335px;
    height: 320px;
    position: absolute;
    top: -6px;
    left: 92%;
    background: url(../img/main-info/main-info-right.svg) no-repeat -32px -64px;
    content: '';
  }
}

.main-info__title {
  margin: 0;
  padding: 65px 0 9px 8%;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: $black;
}
