.page-set .snippet-card-media__img {
  border-radius: 7px;
}

@media (min-width: 576px) {
  .page-set__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .page-set .snippet-card {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .page-set__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 359px) {
  .page-set .col-md-4 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
