.tabs {
  margin-bottom: 0;
  list-style: none;
  display: flex;
}

.tabs-title {
  margin-bottom: 50px;
  text-align: center;
}

.tab-links {
  text-align: center;
}

.tab-links__inner {
  font-weight: 500;
  display: block;
}

.tab-content:not(.active) {
  display: none;
}

.tab-content-wrap {
  padding-top: 45px;
  padding-bottom: 40px;
  box-shadow: 0 0 7px rgba(56, 67, 109, .3);
  background: #fbfbfb;
  position: relative;
}

@media (min-width: 768px) {
  .tabs {
    justify-content: space-between;
  }
  .tab-links {
    flex-grow: 1;

    &.active .tab-links__inner {
      background-color: #fbfbfb;
      box-shadow: 0 0 7px rgba(56, 67, 109, .3);
      color: #2d2d2d;
      z-index: 7;
      pointer-events: none;

      &::after {
        background-color: #fbfbfb;
      }
    }
  }

  .tab-links__inner {
    padding: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    color: $black;
    min-height: 58px;

    &::before,
    &::after {
      width: 100%;
      left: 0;
      position: absolute;
      content: '';
    }

    &::before {
      height: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      top: 0;
      z-index: -1;
      transition: background-color .4s, box-shadow .4s;
    }

    &::after {
      height: 16px;
      bottom: -8px;
    }
  }
}

@media (min-width: 1200px) {
  .tab-links__inner {
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
    transition: color .4s;
  }
}

@media (max-width: 991px) {
  .tabs-title {
    padding-left: 15px;
    padding-right: 15px
  }
}

@media (max-width: 767px) {
  .tabs {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FBFBFB;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    overflow-x: scroll;
  }
  .tab-links {
    margin-right: 40px;
    flex: none;
    &.active {
      font-weight: 600;
      color: $red;
    }
  }
  .tab-links__inner {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .tab-links__inner {
    padding: 10px;
  }
}
