.catalog-list {
  margin-bottom: 40px;
}

.catalog-item {
  width: 100%;
  margin-bottom: 9px;
  position: relative;
  padding: 3px 7px;

  &:not(.catalog-item__product) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.catalog-item__product {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .catalog-item {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .catalog-item:not(.catalog-item__product) {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 992px) {
  .catalog-item:not(.catalog-item__product) {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .catalog-item__product {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1100px) {
  .catalog-view__list {
    overflow: hidden;

    .catalog-list {
      padding-top: 50px;
    }

    .catalog-item {
      margin-bottom: 0;
      flex: 0 0 100%;
      max-width: 100%;
    }

    .snippet-product__inner {
      display: flex;
    }

    .snippet-product__content {
      display: block;
    }

    .snippet-card-extended {
      padding: 25px 0 0;
      margin-left: -14px;
      margin-right: -14px;
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;

      &::before {
        width: 120rem;
        height: 7px;
        top: 0;
        left: -20rem;
        position: absolute;
        display: block;
        z-index: -1;
        box-shadow: 0 7px 0 #fff, $custom-box-shadow;
        content: '';
      }

      &:hover {
        box-shadow: none;

        .snippet-card-amount {
          width: 100%;
          margin-right: 0;
        }
      }
    }

    .snippet-card-amount__minus,
    .snippet-card-amount__plus {
      position: relative;
      z-index: 1;

      &::after,
      &::before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: inherit;
        position: absolute;
        z-index: -1;
        transition: opacity .5s ease;
        content: '';
      }

      &::before {
        background: linear-gradient(180deg, #d6d6d6 0, #c4c4c4 100%);
      }

      &::after {
        background-color: #fcfcfc;
      }

      &:hover {
        background-color: transparent;

        &::after {
          opacity: 0;
        }
      }
    }

    .snippet-card-container {
      padding-left: 15px;
      flex-grow: 1;
    }

    .snippet-card-meta {
      margin-bottom: 14px;
      padding: 0;
      position: relative;
      align-items: center;
    }

    .snippet-card-meta__rating {
      margin-left: 46%;
      margin-bottom: 0;
      order: 1;
    }

    .component-sticker-wrap {
      flex-direction: row;
      align-items: flex-start;
    }

    .component-sticker-wrap {
      margin-left: 15px;

      .component-sticker + .component-sticker {
        margin-top: 0;
        margin-left: 15px;
      }
    }

    .sticker-rating-wrapper {
      top: 0;
      left: 44px;
    }

    .snippet-card-title {
      text-align: left;
      font-size: 20px;
    }

    .snippet-card-title__link-kir {
      display: block;
    }

    .snippet-card-media {
      height: 240px;
      padding-bottom: 10px;
      margin-left: 8.33333%;
      margin-bottom: 0;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    .snippet-card-option {
      justify-content: flex-start;
    }

    .snippet-card-panel {
      padding-top: 24px;
      padding-bottom: 24px;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;

      &::after {
        width: 120rem;
        height: 100%;
        bottom: 0;
        left: -20rem;
        position: absolute;
        display: block;
        z-index: -1;
        background-color: $gray-400;
        content: '';
      }
    }

    .snippet-card-price {
      margin-bottom: 0;
      margin-left: 8.33333%;
      text-align: center;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .snippet-card-price__old,
    .snippet-card-price__new {
      padding-left: 15px;
      padding-right: 15px;
      flex: 0 0 50%;
      max-width: 50%;
    }

    .snippet-card-price__old {
      margin-right: 0;
    }

    .snippet-card-price__total {
      display: block;
      order: 2;
    }

    .snippet-card-bottom {
      order: 3;
    }

    .snippet-card-desc {
      display: block;
    }
  }
}

@media (max-width: 575px) {
  .catalog-item .sticker-rating__tooltip {
    display: none;
  }
}
