.news-detail__media {
  margin-bottom: 14px;
  box-shadow: $custom-box-shadow;
  border-radius: 7px;
  overflow: hidden;
}

.news-detail__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .news-detail {
    @include clearfix;
  }
  .news-detail__media {
    max-width: 50%;
    margin-right: 30px;
    float: left;
    border-radius: 12px;
  }
}
