.pagination-top,
.pagination-bottom {
  display: flex;
  align-items: center;
}

.pagination-items {
  font-size: 13px;
  font-weight: 500;
  color: $black
}

.pagination-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: 13px;
  line-height: 1;
  display: flex;
  align-items: center;
}

.pagination-list__point {
  margin-right: 5px;
  margin-left: 5px;
  color: $gray-600;
}

.pagination-list__link {
  padding: 3px 5px;
  border-radius: 5px;
  color: inherit;
  display: block;
  transition: color .3s ease-out;

  &.active {
    color: $black;
    background-color: #FCFCFC;
    box-shadow: $custom-box-shadow-3;
    pointer-events: none;
  }

  &:hover {
    color: $black;
  }
}

.pagination-list__prev,
.pagination-list__next {
  padding: 3px 5px;
  color: $black;
  border-radius: 5px;
  display: block;
  position: relative;
  z-index: 1;
  box-shadow: $custom-box-shadow-3;

  &::after,
  &::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    position: absolute;
    z-index: -1;
    transition: opacity .5s ease;
    content: '';
  }

  &::after {
    background-color: #FCFCFC;
  }
}

.pagination-list__prev-icon,
.pagination-list__next-icon {
  width: 9px;
  height: 9px;
  fill: $black;
  margin-top: -2px;
  transition: fill .3s ease-out;
}

.pagination-list__prev-icon {
  transform: rotate(180deg);
}

@media (min-width: 576px) {
  .pagination-items {
    margin-right: 14px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .pagination-items {
    margin-right: 25px;
  }
}

@media (min-width: 576px) {
  .pagination-list {
    font-size: 14px;
  }

  .pagination-items {
    font-size: 18px;
  }
}

@media (min-width: 1100px) {
  .pagination-list__prev,
  .pagination-list__next {

    &::before {
      background: linear-gradient(180deg, #d6d6d6 0, #c4c4c4 100%);
    }

    &:hover {
      &::after {
        opacity: 0;
      }

      .pagination-list__prev-icon,
      .pagination-list__next-icon {
        fill: #fff;
      }
    }
  }
}

@media (max-width: 991px) {
  .pagination-top .pagination-list {
    display: none;
  }
}

@media (max-width: 575px) {
  .pagination-top {
    padding-top: 15px;
    order: 1;
  }
  .pagination-items {
    margin-right: auto;
  }
}
