.winery-slider__wrap {
  padding-top: 5px;
  padding-bottom: 5px;
}

.winery-slider {
  position: relative;
  display: flex;

  &.slick-initialized {
    flex-wrap: wrap;
    justify-content: center;
  }

  .slick-list {
    width: 100%;
    border-radius: 12px;
    box-shadow: $custom-box-shadow;
    overflow: hidden;
    align-self: flex-start;
  }
}

.winery-slider__item {
  cursor: pointer;
}

@media (min-width: 576px) {
  .winery-slider {
    .slick-arrow {
      width: 18px;
      height: 18px;
      background-size: 10px 10px;
      position: relative;

      &:focus {
        outline: none;
      }
    }

    .slick-prev {
      order: 1;
    }

    .slick-next {
      margin-right: 2px;
      order: 3;
    }

    .slick-dots {
      width: auto;
      padding-left: 9px;
      padding-right: 9px;
      position: static;
      order: 2;
      align-self: center;

      li {
        border-color: #262626;

        &.slick-active {
          background-color: $black;
        }
      }
    }

    .slick-disabled {
      opacity: .5;
    }

    .slick-list {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 1100px) {
  .winery-slider .slick-arrow {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .winery-slider {
    margin-bottom: 30px;

    .slick-next {
      right: -11px;
    }

    .slick-prev {
      left: -11px;
    }

    .slick-disabled {
      opacity: .5;

      .slick-arrow-icon {
        fill: $gray-900;
      }
    }
  }
}
