@import "../base/settings";
@import "../base/mixins";
@import "../modules/basket-panel";
@import "../modules/previously-viewed";

#basket {
  overflow-x: hidden;
}

/* FIRST STEP */
#basket-root {
  margin-bottom: 50px;
  padding-top: 5px;
  overflow-x: hidden;

  + .container {
    margin-bottom: 30px;
  }
}

.basket-items-list-header {
  display: none;
}

.basket-checkout-container {
  margin-top: 25px;
  align-items: center;
}

.basket-coupon-block-field {
  .form-group {
    margin-bottom: 0;
    display: flex;
  }

  .form-control {
    max-width: 68%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .25);
  }
}

.basket-coupon-block-field-description {
  margin-bottom: 3px;
  font-size: 13px;
}

.basket-coupon-block-coupon-btn {
  width: 90px;
  padding: 6px 12px;
  margin-left: -10px;
  flex-shrink: 0;
}

.basket-coupon-alert-section {
  width: 100%;
  padding-top: 10px;
  font-size: 13px;
  text-align: left;

  .close-link {
    color: #3e86de;
    border-bottom: 1px dashed;
    cursor: pointer;
    display: inline-block;

    &:hover {
      color: $gray-900;
    }
  }
}

.basket-coupon-alert {
  &::before {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
  }

  + .basket-coupon-alert {
    margin-top: 10px;
  }

  &.text-muted {
    strong {
      color: #5D9700;
    }

    &::before {
      background-image: url(../img/icon/ok.svg);
    }
  }

  &.text-danger {
    strong {
      color: #FF0000;
    }

    &::before {
      background-image: url(../img/icon/alert.svg);
    }
  }
}

.basket-checkout-section-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.basket-checkout-block-total {
  display: none;
}

.basket-checkout-block-total-inner {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  margin-left: auto;
}

.basket-checkout-block-total-price {
  flex-grow: 1;
}

.basket-checkout-block-total-price-inner {
  display: flex;
  align-items: center;
}

.basket-coupon-block-total-price-old {
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.basket-coupon-block-total-price-old__text {
  font-weight: 400;
}

.basket-coupon-block-total-price-difference {
  margin-left: auto;
  font-size: 18px;
  color: #FF0000;

  span {
    font-weight: 500;
  }
}

.basket-coupon-block-total-price-current {
  margin-left: auto;
  font-weight: 500;
  font-size: 23px;
  color: $black;
}

.basket-coupon-block-total-price-current__text {
  font-weight: 500;
  font-size: 18px;
  color: $black;
}

.basket-coupon-section {
  text-align: left;
}

.basket-btn-checkout {
  padding: 7px .75rem;
  opacity: 1 !important;
  visibility: visible !important;

  &:focus {
    outline: none;
  }
}

/* PRODUCT */

.basket-items-list-table {
  display: block;

  tbody {
    display: block;
  }

  td {
    display: block;
  }
}

.basket-items-list-item-container {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  display: flex;

  &:nth-of-type(even)::before {
    width: 225rem;
    height: 100%;
    top: 0;
    left: -75rem;
    position: absolute;
    z-index: -1;
    background: #fbfbfb;
    content: '';
  }
}

.basket-items-list-item-descriptions-inner {
  display: flex;
}

.basket__item_name {
  margin-bottom: 10px;
  font-weight: 500;
  color: $black;
}

.basket__item_name-dop {
  display: none;
}

.product__item_char.snippet-card-option {
  justify-content: flex-start;
}

.product__item_char-li:not(:last-child) {
  margin-left: 15px;
}

.basket-item-price-old {
  text-decoration: line-through;
  font-weight: 500;
}

.basket-item-price-title {
  display: none
}

.basket-items-list-item-amount {
  text-align: center;
}

.basket-item-block-amount {
  width: 100%;
  border-radius: 7px;
  text-align: center;
  font-weight: 500;
  line-height: 38px;
  color: #fff;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .5s linear, width .5s linear, margin-right .5s linear;
}

.basket-item-amount-btn-minus,
.basket-item-amount-btn-plus {
  width: 20px;
  height: 20px;
  font-size: 13px;
  line-height: 19px;
  box-shadow: 0 0 3px rgba(45, 45, 45, .25);
  border-radius: 6px;
  color: #2d2d2d;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
  transition: background-color .5s, color .5s;

  &::after,
  &::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    position: absolute;
    z-index: -1;
    transition: opacity .5s ease;
    content: '';
  }

  &::before {
    background: linear-gradient(180deg, #d6d6d6 0, #c4c4c4 100%);
  }

  &::after {
    background-color: #fcfcfc;
  }

  &:hover {
    color: #fff;

    &::after {
      opacity: 0;
    }
  }
}

.basket-item-amount-filed {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  background-color: #fcfcfc;
  color: #2d2d2d;
  font-size: 14px;
  text-align: center;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .15);
  border-radius: 5px;
  border: 0;
}

.basket-item-amount-field-description {
  display: none;
}

.basket-items-list-item-remove {
  text-align: center;
}

.basket-item-actions-remove {
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  float: none;
  display: block;
}

.basket-item-label-ring {
  position: relative;
}

.basket-checkout-block-btn {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.presence {
  margin-bottom: 10px;
  line-height: 1;
}

.presence_status {
  display: none;
}

/*

.basket-place-order {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background: #FBFBFB;
  box-shadow: $custom-box-shadow-2;
}

.basket-place-order__total {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  color: #2d2d2d;
  display: flex;
  align-items: center;
}

.basket-place-order__total-text {
  max-width: 50%;
  flex-basis: 50%;
}
*/

@media (min-width: 576px) {
  .basket__item_name {
    font-size: 18px;
    line-height: 1.3;
  }
  .basket-items-list-item-descriptions {
    padding-right: 0;
  }
  .basket-item-actions-remove {
    margin: 0 auto;
  }

  .basket-coupon-alert-section {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1;

    .close-link {
      margin-left: 10px;
      transition: color .3s;
    }
  }
  /*  .basket-place-order {
      display: none;
    }*/
}

@media (min-width: 768px) {
  .product__item_char_mob {
    display: none;
  }
  .basket-coupon-block-total-price__box {
    display: inline-block;
    text-align: left;
  }
  .basket-items-head {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .basket-items-head,
  .basket-items-list-item-price,
  .basket-item-block-image,
  .basket-item-label-small {
    text-align: center
  }
  .basket-items-list-item-container {
    align-items: center;
  }
}

@media (min-width: 1100px) {
  .basket-checkout-container {
    text-align: center;
  }
  .basket-btn-checkout {
    min-width: 200px;
  }
  .basket-coupon-block-total-price-old {
    margin-left: auto;
  }
  .basket-items-list-item-price {
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .basket-items-head {
    display: none;
  }
  .basket-coupon-block-total-price-old {
    padding-top: 35px;
  }

  .basket-checkout-container {
    .basket-coupon-block-total-price-old,
    .basket-coupon-block-total-price-difference,
    .basket-coupon-block-total-price-current,
    .basket-checkout-block-btn {
      order: 3;
    }
  }

  .bx-soa-customer-field {
    max-width: 84%;
  }

  .basket-coupon-alert {
    display: flex;

    &::before {
      margin-top: 3px;
      flex-shrink: 0;
    }
  }
  .basket-coupon-text {
    padding-right: 14px;
  }
  .basket-coupon-alert-section .close-link {
    margin-left: auto;
    align-self: flex-start;
  }

  .basket-coupon-block-total-price__box {
    display: flex;
    align-items: center;

    > div {
      max-width: 50%;
      flex-basis: 50%;
    }
  }
  .basket-coupon-block-total-price-current .basket-coupon-block-total-price__box {
    padding-top: 7px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #eee;
  }
  .basket-btn-checkout {
    width: 65%;
  }
  .basket-item-block-image {
    margin-bottom: 10px;
  }
  .basket-item-label-small {
    position: absolute;
    left: 114px;
    top: 18px;
  }
  .basket-items-list-item-price {
    order: 2;
    align-self: center;

    &:not(.basket-items-list-item-price-for-one) {
      text-align: right;
    }
  }
  .basket-items-list-item-amount {
    order: 2;
    align-self: center;
  }
  .basket-items-list-item-remove {
  }
  .basket__item_char {
    display: none;
  }
  .basket-item-block-price {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .presence_value {
    font-size: 13px;
  }
  .basket__item_name {
    line-height: 1.4;
  }
  .product__item_char_mob {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 13px;
  }
  .product__item_char_mob-point {
    margin-right: 5px;
    display: inline;

    &:not(:empty)::after {
      content: ', ';
    }

    &:last-child::after {
      content: '';
    }
  }
  .basket-items-list-item-descriptions-inner {
    height: 100%;
  }
  .basket-item-block-info {
    height: inherit;
    display: flex;
    flex-direction: column;
  }
  .basket-coupon-alert-section {
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .basket-item-block-image {
    padding-left: 0;
    padding-right: 0;
  }
  .basket-items-head__percent,
  .basket-items-head__remove {
    padding-left: 0;
    padding-right: 0;
  }
  .basket-coupon-block-total-price-current {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
