@import "../base/settings";
@import "../base/mixins";
@import "../modules/tag-styles";
@import "../modules/popular-tags";
@import "../modules/bestsellers-full";

.basket-empty {
  overflow-x: hidden;
}

.basket-empty__info {
  margin-bottom: 35px;
}

.basket-empty__info-nav {
  padding-top: 15px;
  display: flex;

  .btn {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .basket-empty__info {
    height: 270px;
    padding: 45px 40px;
    box-shadow: $custom-box-shadow;
    border-radius: 12px;
    background: url(/local/templates/wineexpress/img/media/basket-empty.jpg) no-repeat center;
  }
  .basket-empty__info-text {
    font-size: 20px;
  }
  .basket-empty__info-nav .btn {
    min-width: 240px;
  }
}

@media (max-width: 767px) {
  .basket-empty__info-nav .btn {
    min-width: 120px;
  }
}

@media (max-width: 413px) {
  .basket-empty__info-text {
    font-size: 13px;
  }
}
