@import "../base/settings";
@import "../base/mixins";
@import "../modules/previously-viewed";

.detail-wrapper {
  overflow-x: hidden;
}

.detail-media__object {
  text-align: center;
  display: block;
}

.detail-media__img {
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}

.detail-property {
  color: $black;
  font-size: 13px;
  position: relative;
}

.detail-property__section {
  position: relative;

  &:nth-child(even)::before {
    height: 100%;
    top: 0;
    position: absolute;
    z-index: -1;
    background-color: $gray-400;
    content: '';
  }
}

.detail-property__item {
  display: flex;

  .component-sticker + .component-sticker {
    margin-top: 0;
  }

  .snippet-card-meta__rating {
    margin-left: auto;
  }

  .component-sticker {
    align-self: center;
  }
}

.detail-property__label {
  width: 30%;
  color: $gray-900;
  font-weight: 300;
  flex-shrink: 0;
}

.detail-property__info-point {
  margin-right: 15px;
}

.detail-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  &::before {
    width: 225rem;
    height: 100%;
    top: 0;
    left: -75rem;
    z-index: -1;
    position: absolute;
    box-shadow: $custom-box-shadow;
    content: '';
  }
}

.detail-panel__price {
  font-weight: 500;
  text-align: center;
}

.detail-panel__price-old {
  display: block;
}

.detail-panel__price-new {
  color: $black;
}

.detail-panel__price-all {
  padding-left: 0;
  font-weight: 500;
  color: $black;
  text-align: center;
}

.detail-panel__quantity-form {
  width: 100%;
  border-radius: 7px;
  text-align: center;
  font-weight: 500;
  line-height: 38px;
  color: #fff;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity .5s linear, width .5s linear, margin-right .5s linear;
}

.detail-panel__quantity-minus,
.detail-panel__quantity-plus {
  width: 20px;
  height: 20px;
  font-size: 13px;
  line-height: 19px;
  box-shadow: 0 0 3px rgba(45, 45, 45, .25);
  border-radius: 4px;
  color: $black;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
  transition: background-color .5s, color .5s;

  &::after,
  &::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    position: absolute;
    z-index: -1;
    transition: opacity .5s ease;
    content: '';
  }

  &::before {
    background: linear-gradient(180deg, #d6d6d6 0, #c4c4c4 100%);
  }

  &::after {
    background-color: #fcfcfc;
  }

  &:hover {
    color: #fff;

    &::after {
      opacity: 0;
    }
  }
}

.detail-panel__quantity-field {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fcfcfc;
  color: #2d2d2d;
  font-size: 14px;
  text-align: center;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .15);
  border-radius: 4px;
  border: 0;
  padding: 0;
  line-height: 1;
  display: flex;
  flex: none;
}

.detail-tab-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.detail-nav-tab__item {
  text-align: center;
  display: block;
}

.product__set_info-count {
  font-weight: 500;
}

.detail-tab-body__item {
  margin-bottom: 1rem;
}

/**/
.detail-gallery {
  position: relative;
  display: flex;

  &.slick-initialized {
    flex-wrap: wrap;
    justify-content: center;
  }

  .slick-list {
    width: 100%;
    align-self: flex-start;
  }
}

@media (min-width: 576px) {
  .detail-gallery {
    .slick-arrow {
      width: 18px;
      height: 18px;
      background-size: 10px 10px;
      position: relative;

      &:focus {
        outline: none;
      }
    }

    .slick-prev {
      order: 1;
    }

    .slick-next {
      margin-right: 2px;
      order: 3;
    }

    .slick-dots {
      width: auto;
      padding-left: 9px;
      padding-right: 9px;
      position: static;
      order: 2;
      align-self: center;

      li {
        border-color: #262626;

        &.slick-active {
          background-color: $black;
        }
      }
    }

    .slick-disabled {
      opacity: .5;
    }

    .slick-list {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 1100px) {
  .detail-gallery .slick-arrow {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .detail-gallery {
    margin-bottom: 30px;

    .slick-next {
      right: -11px;
    }

    .slick-prev {
      left: -11px;
    }

    .slick-disabled {
      opacity: .5;

      .slick-arrow-icon {
        fill: $gray-900;
      }
    }
    .slick-dots {
      bottom: -25px;
    }
  }
}

/**/

@media (min-width: 576px) {
  .detail-wrapper {
    margin-bottom: 30px;
  }
  .detail-property__section {
    padding-top: 24px;
    padding-bottom: 24px;

    &:nth-child(even)::before {
      width: 100rem;
      left: -13%;
    }
  }
  .detail-property {
    font-size: 18px;
  }
  .detail-property__label {
    width: 26%;
  }
  .detail-inner .component-sticker-wrap {
    display: none;
  }
  .detail-media__object {
    height: 483px;
    padding-top: 18px;
  }
  .detail-rating {
    padding-top: 17px;
    text-align: center;
  }
  .detail-panel__price,
  .detail-panel__price-all {
    font-size: 18px;
  }

  .detail-tab-content {
    margin-bottom: 50px;

    position: relative;

    &::before {
      width: 225rem;
      height: 100%;
      top: 0;
      left: -75rem;
      position: absolute;
      z-index: -1;
      box-shadow: 0 0 7px rgba(45, 45, 45, .25);
      background: #fbfbfb;
      content: '';
    }
  }
  .detail-nav-tab__item {
    padding: 19px 30px 16px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    transition: color .4s;

    &::before {
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      content: '';
      transition: background-color .4s, box-shadow .4s;
    }

    &::after {
      width: 100%;
      height: 16px;
      left: 0;
      bottom: -8px;
      position: absolute;
      content: '';
    }

    &.active {
      background-color: #fbfbfb;
      box-shadow: 0 0 7px rgba(45, 45, 45, .25);
      color: #2d2d2d;
      pointer-events: none;
      z-index: 7;

      &::after {
        background-color: #fbfbfb;
      }
    }
  }

  .detail-tab-body {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .product__set_info-count {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .detail-panel {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .detail-rating .component-sticker {
    width: 50px;
    height: 24px;
    font-size: 14px;

    & + .component-sticker {
      margin-top: 19px;
    }
  }
  .detail-panel__price {
    margin-left: -15px;
    display: flex;
  }
  .detail-panel__price-old {
    margin-left: 20%;
    max-width: 40%;
    flex-basis: 40%;

    + .detail-panel__price-new {
      margin-left: 0;
    }
  }

  .detail-panel__price-new {
    max-width: 40%;
    flex-basis: 40%;
    margin-left: 20%;
  }

  .detail-panel__quantity-form {
    justify-content: center;
  }
  .detail-panel__price-all {
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .detail-panel {
    height: 85px;
  }
  .detail-panel__btn .btn-primary {
    width: 200px;
  }
}

@media (max-width: 992px) {
  .detail-panel {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 10px;

    .snippet-card-btn {
      max-width: 120px;
      margin-top: 15px;
    }
  }
}

@media (max-width: 767px) {
  .detail-property {
    order: 1;
  }
  .detail-inner {
    margin-bottom: 28px;
  }
  .detail-rating {
    display: flex;
    flex-direction: column;
  }
  .detail-panel__price {
    padding-left: 0;
    padding-right: 0;
  }
  .detail-panel__price-all {
    padding-right: 0;
  }
  .detail-panel__quantity-form {
    justify-content: center;
  }
  .detail-panel__btn {
    padding-top: 20px;
    text-align: center;

    .btn-primary {
      min-width: 120px;
    }
  }
  .detail-property__item:not(:last-of-type) {
    margin-bottom: 5px;
  }
}

@media (max-width: 575px) {
  .detail-wrapper {
    margin-bottom: 16px;
  }
  .component-sticker {
    transition: opacity .3s;
  }
  .detail-property__item .component-sticker {
    opacity: 0
  }
  .component-sticker-wrap {
    .mod-sticker-hit,
    .mod-sticker-new,
    .mod-sticker-percent {
      margin-right: 0;
      opacity: 1
    }
  }
  .detail-media__object {
    height: 240px;
  }
  .detail-panel__price,
  .detail-panel__price-all {
    font-size: 13px;
    line-height: 1.1;
  }
  .detail-tab-nav {
    background: #FBFBFB;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    margin: 0 -15px 15px;
  }
  .detail-tab-content {
    margin-bottom: 20px;
  }
  .detail-nav-tab__item {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13px;

    &.active {
      font-weight: 500;
      color: $black;
      border-bottom: 1px solid;
    }
  }
  .detail-property__section {
    padding-top: 10px;
    padding-bottom: 10px;

    &:nth-child(even)::before {
      width: 36rem;
      left: -14px;
    }
  }
  .detail-tab-body {
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .detail-media {
    text-align: center;
  }
  .product__set_info-count {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .detail-panel__btn .btn-primary {
    width: 100%;
  }
}
