@import "../base/settings";
@import "../base/mixins";
@import "../modules/previously-viewed";

.events {
  overflow-x: hidden;
}

.events-list__archive {
  width: 100%;
}

.passed-event {
  .media-wrap,
  .card-info-media__img {
    filter: grayscale(100%);
  }

  .events-detail__media::before {
    content: attr(data-passed-event);
    position: absolute;
    color: #d30000;
    font-weight: 600;
    opacity: .5;
    z-index: 1;
    pointer-events: none;
    transform: rotate(-25deg);
  }
}

@media (min-width: 576px) {
  .events-list__archive {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .events-title__tasting {
    padding-top: 40px;
    text-align: center;
  }
  .events-detail__media::before {
    right: -31%;
    top: 44px;
    font-size: 50px;
    padding: 20px 35px;
    outline-offset: -19px;
    border: 8px solid;
    outline: 5px solid;
  }
}

@media (max-width: 575px) {
  .events {
    margin-bottom: 15px;

    .page-panel__bottom {
      margin-left: -14px;
      margin-right: -14px;
      padding-left: 7px;
      padding-right: 7px;
      box-shadow: $custom-box-shadow-2;
    }

    .call-form-wrap {
      max-width: 84%;
    }
  }
  .events-detail .media-wrap {
    margin-bottom: 25px;
  }
  .events-title__tasting {
    padding-top: 10px;
    font-size: 18px;
  }
  .events-detail__media::before {
    right: 50%;
    margin-right: -120px;
    top: 79%;
    font-size: 30px;
    padding: 10px 20px;
    outline-offset: -12px;
    border: 5px solid;
    outline: 3px solid;
  }
  .events-list__archive {
    margin-bottom: 10px;
  }
}
