@font-face {
  font-display: swap;
  font-family: 'SFUIDisplay';
  src: url('../fonts/sf_ui_display_regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'SFUIDisplay';
  src: url('../fonts/sf_ui_display_medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'SFUIDisplay';
  src: url('../fonts/sf_ui_display_semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
