@media (min-width: 1100px) {
  .ie-10,
  .ie-9 {

    .header-vinotheques,
    .top-panel-info__tip,
    .dropdown-panel {
      display: none;
    }

    .header-address__active + .header-vinotheques,
    .header-address:hover .header-vinotheques,
    .top-panel-info__active + .top-panel-info__tip,
    .menu-item__parent:hover .dropdown-panel {
      display: block;
    }

  }

  .ie-9 {
    .row,
    .card-info-meta,
    .card-info-bottom,
    .footer-subscription,
    .footer-middle,
    .pagination-top {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto,
    .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
    .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
    .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1,
    .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
    .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
    .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto,
    .pagination__list,
    .pagination-items,
    .catalog-item {
      float: left;
    }

    .top-panel-info__text div,
    .menu-item,
    .bestsellers-nav__item,
    .component-sticker,
    .footer-contacts__item,
    .catalog-tags__item,
    .pagination-list__point,
    .pagination__list-dot {
      display: inline-block;
    }

    .top-panel-call__word {
      display: none
    }

    .btn-primary {
      background-color: $red;
      border: 1px solid $red;

      &:hover {
        background-color: #fff;
        color: $red;
      }

      &::before,
      &::after {
        display: none;
      }
    }

    .btn-secondary {
      background-color: #333;
      width: 100%;
      display: block;
    }

    .snippet-card-option {
      text-align: center;
    }

    .snippet-card-option__item,
    .snippet-card-price__old,
    .snippet-card-price__new {
      display: inline-block;
      vertical-align: middle;
    }

    .snippet-card-price {
      text-align: center;
    }

    .snippet-card-meta__article,
    .card-info-meta__date,
    .card-info__read-more,
    .social,
    .subscribtion_form,
    .footer-subscription__field,
    .footer-subscription__btn {
      float: left;
    }

    .snippet-card-meta__rating,
    .card-info-meta__price,
    .card-info-meta__date {
      float: right;
    }

    .component-sticker-wrap {
      clear: both;
      text-align: right;
    }

    .component-sticker {
      text-align: center;
      line-height: 18px;
    }

    .mod-sticker-hit {
      background-color: #ff6921;
    }

    .mod-sticker-new {
      background-color: #74bc00;
    }

    .mod-sticker-percent {
      background-color: $red;
    }

    .sticker-rating {
      background-color: #c4c4c4;

      &:hover .sticker-rating__label {
        color: #fff;
      }

      &::before,
      &::after {
        display: none;
      }
    }

    .sticker-rating-wrapper .sticker-rating {
      display: block;
    }

    .sticker-rating__tooltip-head::after {
      position: absolute;
      top: 6px;
      right: 5px;
    }

    .card-info-media__img:hover {
      transform: scale(1);
    }

    .footer-subscription__btn {
      max-width: 130px;
    }

    .footer-subscription__icon {
      left: 95px;
    }

    .form-control {
      height: 40px;
    }

    .header-search__inner > label {
      position: absolute;
      top: 5px;
      left: 0;
    }

    .header-basket__element {
      position: relative;
      top: 15px;
    }

    .header-basket__element::after {
      text-align: center;
    }

    .snippet-product-title {
      position: relative;
    }
    .snippet-product-title__icon {
      position: absolute;
      top: 7px;
      right: 5px;
    }
  }
}
