.slick-arrow {
  border-radius: 50%;
  border: none;
  display: flex;
  position: absolute;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: url(../img/ico/arrow.svg) no-repeat center #fff;
  background-size: 15px 15px;
  color: transparent;
  top: 50%;
  padding: 0;
  outline: 0;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(#38436D, .25);
  transition: border .4s ease-in-out;

  &::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background: linear-gradient(180deg, #d6d6d6 0, #c4c4c4 100%);
    opacity: 0;
    transition: opacity .4s ease-in-out;
    content: '';
  }

  &:focus {
    outline: none;
  }

  &.slick-disabled {
    opacity: .4;
  }
}

/*
.slick-arrow-icon {
  width: 13px;
  height: 13px;
  margin: auto;
  top: 1px;
  right: 0;
  fill: $black;
  flex-shrink: 0;
  position: relative;
  transition: fill .3s;
}
*/

.carousel-item {
  padding: 7px;

  &:focus {
    outline: none;
  }
}

.slick-prev {
  transform: rotate(180deg);
}

.slick-prev .slick-arrow-icon {
  top: -1px;
  right: -1px;
}

/* Dots */

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 0;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    height: 11px;
    width: 11px;
    border: 1px solid $gray-800;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    transition: border-color .3s, background-color .3s;

    button {
      border: 0;
      background: transparent;
      display: block;
      outline: none;
      line-height: 0;
      font-size: 0;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;
      }
    }

    &.slick-active {
      background-color: $gray-800;
    }

    &:not(.slick-active):hover {
      border-color: $red;
      background-color: $red;
    }
  }
}

@media (max-width: 1329px) {
  .slick-prev {
    left: -14px;
  }
  .slick-next {
    right: -14px;
  }
  .special-offers-carousel {
    .slick-prev {
      left: -7px;
    }

    .slick-next {
      right: -7px;
    }
  }
}

@media (max-width: 575px) {
  .special-offers-carousel:not(.slick-initialized) {
    display: flex;
    flex-wrap: wrap;
  }
  .carousel-item:not(.slick-slide) {
    max-width: 50%;
    flex-basis: 50%;
  }
  .slick-list {
    border-radius: 15px;
  }
  .slick-arrow {
    border-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  }
  .slick-arrow-icon {
    fill: $black;
  }
}

@media (max-width: 1099px) {
  .slick-arrow {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
  .slick-prev .slick-arrow-icon {
    right: -1px;
    top: 0;
  }
}

@media (min-width: 576px) {
  .carousel-item {
    padding: 5px;
  }
}

@media (min-width: 1100px) {
  .slick-arrow {
    width: 37px;
    height: 37px;
    margin-top: -18px;

/*    &:hover {
      border-color: #c4c4c4;

      &::before {
        opacity: 1;
      }

      .slick-arrow-icon {
        fill: #fff;
      }
    }*/
  }
  .slick-arrow-icon {
    width: 16px;
    height: 16px;
    right: -2px;
  }
}

@media (min-width: 1330px) {
  .slick-prev {
    left: -54px;
  }
  .slick-next {
    right: -54px;
  }
}
